.main-footer {
    background-color: #101112;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #FFF;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 40px;

    h1 {
        font-size: 14px;
        font-weight: bold;
        margin: 0px 0px 5px;
    }

    .copyright {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #919191;
        text-transform: uppercase;
    }

    .more-link , .more-link a{
        color: #616161;
    }

    .information {
        text-align: center;
        color: #c4c4c4;
        font-size: 15px;
    }
    .information {
        text-transform: uppercase;
        font-size: 15px;
    }
    .information a {
        color: #c4c4c4;
    }
    .information > p, .information > ul {
        margin: 4px 0;
    }
    .information ul {
        list-style-type: none;
        padding: 0;
    }
    .information ul {
        margin-top: 10px;
    }
    .information ul li {
        display: inline-block;
    }
    .information ul li a {
        color: #fff;
    }
    .information ul li:not(:last-child)::after {
        content: "-";
        margin-left: 8px;
        margin-right: 6px;
        color: rgba(196,196,196,.5);
    }
}
