<div class="main-container" ng-controller="MainCtrl">

    <div class="container">
        <div class="header row">
            <div class="col-md-4 hidden-sm-down">
                <img class="message pull-left hidden-xs" src="img/index_3/header1.png">
            </div>


            <div class="col-md-4 col-sm-12">
                <img class="logo" src="img/index_3/logo.png" alt="Tactical Mastery">
            </div>

            <div class="col-md-4 hidden-sm-down">
                <img class="message pull-right" src="img/index_3/header2.png">
            </div>
        </div>

        <div class="body-content">
            <div class="features top">
                <img src="img/home/feature.png">
            </div>

            <div class="home-content row">
                <div class="video-container">
                    <script src="//fast.wistia.com/embed/medias/ya8uye69gd.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:55.42% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ya8uye69gd seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                </div>

                <div class="cta-buttons">

                    <!--<button class="btn btn-success buy-button"  ng-click="main.showLeadForm()">-->
                    <button type="button" class="btn btn-success buy-button" data-toggle="modal" data-target="#buyModal">
                        <span class="over">
                            <span class="big">Yes! I want 75% Off!</span>
                            <span class="small">Free Shipping Valid Till Today.</span>
                        </span>
                    </button>

                    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document" data-ng-controller="BuymodalCtrl" style="width:93% !important;">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="buyModalLabel">Enter Your Details Below To INSTANTLY Receive 75% Off The Tactical Mastery Flashlight...</h4>
                                <div class="row">
                                    <div class="col-xs-12 pin-promo-wrapper">
                                        <img class="pin-promo  pin-promo-2" src="img/flashlight.png" alt="Image"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                
                                <!--<form id="leadForm" name="leadForm" novalidate action="#/checkout">-->
                                <div>

                                   <div class="" style="padding-top: 30px;margin-bottom: 30px;">
                                        
                                        <div class="form-group row" data-ng-class="formValidationDivClass.fullname">
                                            <div class="col-xs-12">
                                                <input  type="text" 
                                                data-ng-model="formData.fullname" 
                                                data-ng-class="formValidationControlClass.fullname"
                                                data-ng-change="inputChanged('fullname')"
                                                class="form-control" 
                                                name="fullname" 
                                                id="fullname" 
                                                placeholder="Full Name"
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group row" data-ng-class="formValidationDivClass.email">
                                            <div class="col-xs-12">
                                                <input type="text" 
                                                data-ng-model="formData.email" 
                                                data-ng-class="formValidationControlClass.email" 
                                                required
                                                data-ng-change="inputChanged('email')"
                                                class="form-control" 
                                                name="email" 
                                                placeholder="Email Address"  
                                                autocorrect="off" />
                                            </div>
                                        </div>
                                        <div class="form-group row" data-ng-class="formValidationDivClass.phoneNumber">
                                            <div class="col-xs-12">
                                                <input  type="tel" 
                                                data-ng-model="formData.phoneNumber" 
                                                data-ng-class="formValidationControlClass.phoneNumber" 
                                                required
                                                data-ng-change="inputChanged('phoneNumber')"
                                                class="form-control" 
                                                name="phoneNumber" 
                                                placeholder="888-888-8888" 
                                                autocorrect="off" />
                                            </div>
                                        </div>

                                   </div>


                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <button type="submit" data-ng-click="submitLeadForm()" data-ng-disabled="disableSubmitButton"  class="btn btn-primary btn-lg btn-block btn-discount" style="background-color : #249007">YES! Instantly Apply My 75% Off Discount</button>
                                        </div>
                                    </div>
                                <!--</form>-->
                                </div>
                              </div>
                                                          
                            </div>
                        </div>
                    </div>
                    

                </div>

                <div class="text-center flashlight-img">
                    <img src="img/home/flashlight_image.jpg" class="img-fluid" >
                </div>
            </div>
        </div>


    </div>

    <footer></footer>

</div>
