html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #373737;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.main-container {
    background: url(img/home/background-home.jpg) no-repeat top center;
    background-color: #020106;
    background-size: 100% auto;
    position:absolute;
    width:100%;
    min-height: 100vh;


    .header {
        padding: 30px 0px 30px 0px;
        height: 110px;


        img.message {
            padding: 20px 0 0;

            @media (max-width: 992px) {
                max-width: 90%;
            }
        }

        img.logo {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .main-footer {
        background: #000;
    }

    .body-content {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 50px;

        .btn-success {
            font-family: 'Open Sans', sans-serif;
            background: #144B09;
            &.btn-green {
                padding: 0;
                line-height: 0;
                border-radius: 8px;

                span.over {
                    background-image: linear-gradient(#A5E837, #1E6F12);
                    border: 1px solid #63AC3B;
                    padding: 20px;
                    border-radius: 8px;
                    top: -4px;
                    display: block;
                    transition: all ease-out 150ms;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                    margin-top: 0 !important;
                    margin-bottom: 5px !important;

                }
            }

            &:hover, &:focus {
                &.btn-green {
                    span.over {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }


        .features {
            background-image: linear-gradient(#444, #0A0A0A);
            padding: 13px 22px;

            img {
                width: 100%;
            }
            @media (max-width: 640px) {
                padding: 13px 5px;
            }

        }

        .flashlight-img {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .home-content {
            max-width: 700px;
            margin: 0px auto;
            padding: 30px;

            @media (max-width: 640px) {
                padding:10px;
            }

            .cta-buttons {
                margin-top: 20px;

                .buy-button {
                    width: 100%;

                    .over {
                        border-radius: 8px;
                        top: -4px;
                        margin: 10px auto;
                        color: #fff;
                        text-align: center;
                        text-decoration: none;
                        display: block;

                        transition: all ease-out 150ms;
                        text-transform: uppercase;
                        text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

                        > * {
                            display: block;
                            margin: 0;
                        }

                        @media (max-width: 480px) {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        @media (max-width: 320px) {
                            white-space: pre-wrap;
                            word-wrap: normal;
                            word-break: break-word;
                        }

                        .big {
                            font-weight: 600;
                            font-size: 1.9em;
                            letter-spacing: 1px;
                            line-height: 1.25em;

                            @media (max-width: 480px) {
                                font-size: 1.4em;
                                letter-spacing: .5px;
                            }

                            @media (max-width: 320px) {
                                font-size: 1em;
                            }
                        }

                        .small {
                            line-height: 1.25em;
                            @media (max-width: 480px) {
                                font-size: 0.9em;
                            }
                            @media (max-width: 320px) {
                                font-size: 0.7em;
                            }
                        }

                        .regular {
                            font-size: 1em;
                            font-weight: 600;
                            line-height: 1.25em;

                            @media (max-width: 480px) {
                                font-size: 0.9em;
                                font-weight: 300;
                            }
                        }
                    }

                }

            }
        }               
    }
}
