html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #373737;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.main-container {
    background: url(img/home/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:absolute;
    width:100%;
    min-height: 100vh;


    .header {
        padding: 30px 0px 30px 0px;
        height: 110px;


        img.message {
            width: 220px;
            padding: 20px 10px 0px 10px;
        }

        img.logo {
            position: absolute;
            margin: auto;
            max-width: 80%;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .body-content {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 50px;

        .features {
            background-image: linear-gradient(#eb0e0b, #a10202);
            padding: 13px 22px;

            img {
                width: 100%;
            }
        }

        .flashlight-img {
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .home-content {
            max-width: 700px;
            margin: 0px auto;
            padding: 30px;

            .cta-buttons {

                .cta {
                    display: block;
                    margin: 15px auto;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;

                    @media (max-width: 479px) {
                        font-size: 12px;
                    }


                    .over {
                        border-radius: 8px;
                        top: -4px;
                        display: block;

                        transition: all ease-out 150ms;

                        > * {
                            display: block;
                            margin: 0;
                        }

                        text-transform: uppercase;
                        text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

                        .big {
                            font-weight: 600;
                            font-size: em(30);
                            letter-spacing: 1px;
                            line-height: 1.25em;

                            @media (max-width: 480px) {
                                letter-spacing: .5px;
                            }
                        }

                        .small {
                            line-height: 1.25em;
                            @media (max-width: 480px) {
                                font-size: em(12);
                            }
                        }

                        .regular {
                            font-size: em(21);
                            font-weight: 600;
                            line-height: 1.25em;

                            @media (max-width: 480px) {
                                font-size: em(13);
                                font-weight: 300;
                            }
                        }
                    }

                    &:before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 20px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-radius: 8px;
                    }


                    &.green {
                        .over {
                            background-image: linear-gradient(#A5E837, #1E6F12);
                            border: 1px solid #63AC3B;
                            padding: 20px;

                            @media (max-width: 480px) {
                                padding: 12px;
                            }
                        }


                    }

                    &.red {
                        .over {
                            background-image: linear-gradient(#ED2329, #95090F);
                            border: 1px solid #7F090D;
                            padding: 12px;

                            @media (max-width: 480px) {
                                padding: 6px;
                            }
                        }


                    }

                    &:hover {
                        text-decoration: none;

                        .over {
                            top: 0px;
                        }
                    }
                }

            }
        }
    }
}
