<div class="pg-battery-lamp-offer">
  <header class="main-header">
    <div class="container">
      <div class="logo">
        <img src="img/logo.svg" alt="Tactical Mastery">
      </div>
    </div>
  </header>

  <div class="page-container container midWideContainer">
    <div class="containerInner">
      <div class="top-menu">
        <ul class="nav nav-pills nav-stacked col-xs-12">
          <li class="col-md-4 col-xs-12"><a href class="row">STEP 1: CREATE ACCOUNT</a></li>
          <li class="col-md-4 col-xs-12"><a href class="active row">STEP 2: CUSTOMIZE ORDER</a></li>
          <li class="col-md-4 col-xs-12"><a href class="row">STEP 3: ORDER COMPLETE</a></li>
        </ul>
      </div>

      <div class="col-inner">
        <h1 class="page-title"><strong><em>WAIT!</em>&nbsp; </strong> Would You Like For Us To Add Rechargeable Lithium Ion Batteries AND A
          Premium Warranty To Your Order for <span class="go_green">75% OFF</span>?</h1>

        <div class="col-md-6 col-xs-8 main-box">
          <div class="row">
            <div class="battery-box">
              <p>
                1 Premium Lithium Ion Rechargeable Battery<br>
                +<br>
                3 Year Premium
              </p>
              <img src="img/us_batteries/battery.gif" class="img-responsive">
              <div class="norton-long-bar">
                <img src="img/norton-long-bar.png" class="img-responsive">
              </div>
            </div>

            <div class="buttons-box">
              <a  href="javascript:void(0);" productId="11" data-ng-click="doUpsellYes('11',89)" class="btn btn-1">
                YES! Please add the Rechargeable Battery Pack and Three Year Premium Warranty to my order at the discounted rate of 75% OFF!!
              </a>

              <a href="javascript:void(0);" productId="114" data-ng-click="doUpsellYes('114',69)" class="btn btn-2">
                <span class="elButtonMain">NO, I would only like to purchase the Rechargeable Battery and 1 Year Premium Warranty at the original price of $49.</span>
                <span class="elButtonSub"></span>
              </a>
              <a href="javascript:void(0);" id="upsellNo" onclick="doUpsellNo()" class="btn btn-3">No Thanks, I'll
                just use some AAA's from around the house. IMPORTANT : AAA's will only last 2 hours - the T5 LED Bulb
                uses large amounts of power for optimal operation.</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>