.form-control-feedback {
    top: 12px;
}

.btn-discount {
    width: 100%;

    @media (max-width: 480px) {
        font-size:12px;
    }
}

.modal-full-screen {
    @media (max-width: 480px) {
        width: 97%;
        height: auto !important;//91%;
        margin: 0;
        top: 0;
        left: 0;
    }    
}


.form-control{
    height: 3.25em;
}
.modal-header {
    border-bottom: 1px solid #ccc;
    //background-color: #f0ad4e;
    padding:  39px;
    font-family: HeronSans-SemiBold, sans-serif;
}

.modal-header .close {
    margin-top: -25px;
    margin-right: -23px;
}

// .modal-dialog{
//  width: 93% !important;

// }

.modal-content{
    border: 5px solid #f0ad4e;

    @media (max-width: 480px) {
        height: auto;
        min-height: auto !important;//91%;
        border-radius: 0;
    }
}

.intl-tel-input{
        width: 100%;
}
.modal-title{
    text-align: center;
}

@media (max-width: 480px){
    .btn-discount {
        font-size: 20px !important;
        white-space: normal;
    }

}

.btn-modal-confirm {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#249007;
    white-space: normal;
    word-break: normal;

    &:hover {
        background-color: #249007;
    }
}

