.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 90% !important;
    max-width: 600px;
}
.form-control-feedback {
    top: 12px;
}

.btn-discount {
    width: 100%;

    @media (max-width: 480px) {
        font-size:12px;
    }
}

.form-control{
    height: 3.25em;
}
.modal-header {
    border-bottom: 1px solid #ccc;
    //background-color: #f0ad4e;
    font-family: HeronSans-SemiBold, sans-serif;
}

.modal-dialog{
 width: 93% !important;

}

.modal-content{
    border: 5px solid #f0ad4e;
}

.intl-tel-input{
        width: 100%;
}
.modal-title{
    text-align: center;
}

@media (max-width: 480px){
.btn-discount {
    font-size: 20px !important;
    white-space: normal;
}

}
